<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="X2DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="logfile" xsi:type="File" fileName="${basedir}/log/X2DB_Log_${shortdate}.txt"
                archiveFileName="${basedir}/log/archives/X2DB_Log.{#}.zip"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="iso-8859-2"
                enableArchiveFileCompression="true"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
      </rules>
    </nlog>
    <userSettings>
        <X2DB.Properties.Settings>
            <setting name="InputSource" serializeAs="String">
                <value>https://apteanonline-my.sharepoint.com/personal/skhandelwal_aptean_com/Documents/sk_data/POW.xlsx</value>
            </setting>
        </X2DB.Properties.Settings>
    </userSettings>
</configuration>